body {
    background-color: lightgray;
    color: #000;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0 20px;
    -webkit-font-smoothing: antialiased;
}

/* Contenedor del Logo */
.logo-container {
    position: absolute;
    top: 20px;
    left: 20px;
}

.logo-container img {
    width: 150px;
}

/* Contenedor del Login */
.login-container {
    background: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 450px;
    box-sizing: border-box;
    border: 1px solid #000;
    position: relative;
    transform: translateZ(0);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 26px;
    color: #000;
}

.form-group {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}

.form-group input {
    width: 100%;
    padding: 14px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    color: #000;
    outline: none;
    font-size: 16px;
    transition: all 0.3s ease;
}

.form-group input:focus {
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #000;
}

.btn {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(45deg, #D3D3D3, #BEBEBE);
    color: #000;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background: linear-gradient(45deg, #BEBEBE, #D3D3D3);
    transform: translateY(-3px);
}
